<div class="container">
  <div style="width: 900px; margin-top: 50px;">
    <div fxLayout="row">
      <mat-card class="search-card">
        <mat-card-header>

          <mat-card-title>Google Books Finder</mat-card-title>
          <mat-card-subtitle>Interview Project</mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>
          <mat-form-field>
            <mat-label>What are you looking for?</mat-label>
            <input matInput type="text" [(ngModel)]="mainSearchText">
            <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="mainSearchText=''">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
          <button style="margin-left: 10px;" mat-button (click)="getList(mainSearchText)">SEARCH</button>
        </mat-card-content>

      </mat-card>
    </div>

    <div fxLayout="row">
      <mat-card class="display-card">
        <mat-form-field>
          <mat-label>Filter</mat-label>
          <input matInput (keyup)="applyFilter($event)" #input>
          <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="input.value=''"><mat-icon>close</mat-icon>
          </button>
        </mat-form-field>

        <div class="mat-elevation-z8">

          <table mat-table [dataSource]="dataSource" matSort>

            <!-- ID Column -->
            <ng-container matColumnDef="id">
              <th class="w-sm" mat-header-cell *matHeaderCellDef> ID </th>
              <td mat-cell *matCellDef="let row"> {{row.id}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="title">
              <th class="w-lg" mat-header-cell *matHeaderCellDef mat-sort-header> Title </th>
              <td mat-cell *matCellDef="let row"> {{row.title}} </td>
            </ng-container>

            <!-- Author Column -->
            <ng-container matColumnDef="author">
              <th class="w-md" mat-header-cell *matHeaderCellDef mat-sort-header> Author </th>
              <td mat-cell *matCellDef="let row"> {{row.author}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

          </table>

          <mat-paginator pageSize="5"></mat-paginator>
        </div>
      </mat-card>
    </div>
  </div>
</div>
