.search-card
  display: block

.table-card
  display: block

.container
  display: flex
  align-items: center
  justify-content: center

table
  width: 100%

.mat-row
  height: auto

.mat-cell
  padding: 10px 26px 5px 0

tr.mat-footer-row
  border: 1px solid #e7e7e7
  font-weight: bold
  height: #px !important

.w-sm
    width: 25px

.w-md
    width: 140px

.w-lg
    width: 435px

